<!DOCTYPE html>
<html lang="{{ " en-US " }}">

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width,maximum-scale=2">
  <meta name="description" content="{{ site.title }} : {{ site.description }}">

  <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>
  <div id="header_wrap" class="outer">
    <header class="inner">
      <a id="forkme_banner" href="https://github.com/dhemery/DHE-Modules/">View on GitHub</a>

      <h1 id="project_title"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
      <h2 id="project_tagline">{{ site.description }}</h2>
    </header>
  </div>

  <div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">
      {{ content }}
    </section>
  </div>

  <div id="footer_wrap" class="outer">
    <footer class="inner">
      <p class="copyright">
        <a href="https://github.com/dhemery/DHE-Modules/">{{ site.title }}</a>
        maintained by
        <a href="https://github.com/dhemery/">Dale Emery</a>
      </p>
    </footer>
  </div>
</body>

</html>
