---
Language: Cpp
BasedOnStyle:  LLVM
BreakBeforeBinaryOperators: All
BreakConstructorInitializers: AfterColon
ColumnLimit: 120
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IncludeBlocks: Regroup
KeepEmptyLinesAtTheStartOfBlocks: false
NamespaceIndentation: Inner
SpaceAfterCStyleCast: true
...
