###############################################
# C++ from github/gitignore/Global
###############################################

###############################################
# C++ from github/gitignore
###############################################

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

###############################################
# DHE-Modules
###############################################

/build
/dist
/.dev
/.idea
