---
---

@import "{{ site.theme }}";

#header_wrap {
  a { color: #F2F2F2; text-decoration: none; }
  a:hover { text-decoration: underline; }
}

img[src='panel.svg'] {
  padding-left: 10px;
  float: right;
  height: 380px;
}
