---
---

@import "{{ site.theme }}";

#header_wrap {
  a { color: #F2F2F2; text-decoration: none; }
  a:hover { text-decoration: underline; }
}

img.panel {
  padding-left: 10px;
  padding-bottom: 10px;
  float: right;
}

span.stage {
  color: #009900;
  font-weight: bold;
}
